* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --primary-color: #3bb8ab;
  --secondary-color: #0f7986;
  --light-accent-color: #fcb91c;
  --dark-accent-color: #c931a9;
}

.primary-btn {
  box-shadow: 0.6px 2.5px 7px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  border: none;
  padding: 0.4em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

/* LOGIN PAGE */
.App .signed-out {
  border: 2px solid var(--primary-color);
  height: 100vh;
  margin: auto;
}
.App .signed-out > h1 {
  color: var(--secondary-color);
  text-align: center;
  margin-top: 5rem;
  margin-bottom: -0.5rem;
  font-size: 2.5rem;
}

.App .login-btn,
.login-logo {
  display: block;
  margin: 3rem auto;
}

.App .login-logo {
  border-radius: 50%;
  max-height: 12rem;
}

.App .login-btn {
  background-color: var(--secondary-color);
  border-radius: 15px;
  box-shadow: 0.6px 2.5px 7px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 0.4em 2.5em;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
