.GroupOptions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem auto;
}

.GroupOptions img {
  max-height: 10rem;
  border-radius: 50%;
}

.GroupOptions .group-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.GroupOptions .group-btns > button {
  background-color: var(--secondary-color);
}

.GroupOptions .group-btns > button:hover {
  background-color: var(--light-accent-color);
  transition: all 3sec ease-in-out;
}
