.GroupOptions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.GroupOptions img {
  max-height: 10rem;
  border-radius: 50%;
}

.GroupOptions .group-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}
