.Home .group-display {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* APP BORDER */
.Home .app-header,
.app-footer {
  background-color: var(--primary-color);
}

/* HEADER */
.Home .otter-home {
  color: white;
  text-decoration: none;
}

.Home .logout-button {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  background-color: var(--light-accent-color);
}

.Home .app-header {
  font-size: 1.75rem;
  font-weight: 500;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.Home .header-right {
  display: flex;
  justify-content: right;
}

.Home .login-dark-mode {
  padding: 0 1rem;
  width: calc(19rem * 0.25);
  height: calc(5rem * 0.25);
}

.dark-mode-toggle img {
  width: 75% !important;
  height: auto;
}

/* MAIN */
.Home .home-container {
  margin: 1rem;
  flex: 1;
}

.Home .group-title {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 1rem 0;
}

.Home .add-family {
  background-color: var(--secondary-color);
}

/* FOOTER */
.Home .app-footer {
  font-size: 0.5rem;
  padding: 1rem 1rem 0.5rem 0;
  text-align: right;
  bottom: 0;
}

.Home .app-footer > a {
  text-decoration: none;
  color: white;
}

.Home .app-footer > a:hover {
  text-decoration: underline;
}
