.PendingTransactions,
.RecentTransactions {
  box-shadow: 0.6px 3.5px 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 2rem 0.5rem;
  background-color: var(--primary-color);
}

.table-header,
.table-footer {
  color: white;
  padding: 0.75rem;
  font-size: 1.5rem;
}

.table-body {
  background-color: white;
  padding: 0.2rem;
}
