/* TRANSACTION LIST FORMATTING */

.TransactionItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(175, 175, 175, 0.3);
  padding: 0.5rem;
}

.TransactionItem .transaction-btn {
  background-color: white;
  border: none;
}

.TransactionItem .buttons-and-descriptions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.TransactionItem .amount-with-date {
  text-align: right;
}

/* INDIVIDUAL COMPONENT */
.TransactionItem .transaction-user {
  font-size: 0.75rem;
  color: var(--secondary-color);
  font-weight: 700;
}
.TransactionItem .transaction-note {
  font-size: 0.75rem;
  color: var(--dark-accent-color);
}
.TransactionItem .transaction-amount {
  font-size: 0.9rem;
}
.TransactionItem .transaction-date,
.transaction-description {
  color: var(--secondary-color);
  font-size: 0.75rem;
}
